---
import Layout from '../components/Layout.astro';
import Background from '../components/Background.astro';
import ChipHunt from '../components/ChipHunt.astro';
import Services from '../components/Services.astro';


---

<Layout title="Accounting Solutions | Bookkeeping & Tax Services in Brazil, IN">
	<main>
   <Background />
    <div id="content">
      <div class="header">
        <h1 title="Accounting Solutions">
          <img src="/assets/logos/AS_Logo.svg" width="300px" class="center pb-4" alt="Accounting Solutions">
        <!-- Fix font -->
        </h1>
        </div>
        <h2 class="text-[#0a3161] font-serif">
          "...Is ready to Help" | Face-to-Face or Virtual
        </h2>
        <div title="Introduction" class="p-16 pt-8">
          <!-- Add drop cap A -->
          <p>Accounting Solutions is a full service accounting, tax preparation, payroll, bookkeeping and retirement planning business serving individuals and small businesses in Brazil, Terre Haute, and all of Wabash Valley.</p>
        </div>
      <ChipHunt />
      <Services />
      
      </div>
	</main>
</Layout>