
:root {
  --font-family: var(--font-header);
  --font-header: var(--font-header);
  --font-subheadert: 'EB Garamond', serif;
  --font-body: 'Atkinson Hyperlegible', sans-serif;
  --color-bg: #faf9f6;
  --color-accent:#0a3161;
  --color-accent-alt: #b31942;

  --top-right-blur-1: #d9d9d9;
  --top-right-blur-2: #d9d9d9;
  --bttm-left-blur-1: #d9d9d9;
  --bttm-left-blur-2: #d9d9d9;

  /* Accent colors */
  --accent-primary: #0a3161;
  --accent-secondary: #b31942;
}

html {
    background: var(--color-bg);
    min-height: 100%;
}

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header{
    text-align: center;
}

.header h1 {
  padding-top:5%;
  margin: 0;
  font-family: var(--font-header);
}

.header .logo img {
  padding: 30px 0;
  width: 100%;
}

.header h2 {
  line-height: 1.5rem;
  margin: 0 auto;
  padding-bottom: 5%;
  font-family: var(--font-subheader);
}

p {
  font-family: var(--body-font);
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

.btns{
  margin-bottom: 5%;
}

.btn{
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  margin: 0 1%;
  text-decoration: none;
}

.btn.primary{
  display: inline-block;
  width: max-content;
  background: #0a3161;
  border: none;
  color: white;
  box-shadow: -3px 3px 5px rgb(35 33 33 / 23%);
}

.btn.primary:hover {
  background: white;
  box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%);
  color: #0a3161/* -webkit-box-shadow: inset 3px 4px 10px rgb(35 33 33 / 40%); */
}

.btn.secondary{
  background: transparent;
  border: #093C4F 2px solid;
  color: #0D1D24;
}

.btn.secondary:hover {
  background: #05171f;
  color: white;
}

footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

footer img {
  width: 20px;
}
