---
import '../style/demo-styling.css'
---
<div>
    <h2 class="text-[#0a3161] font-header">
    CHIP HUNT
  </h2>
  <div title="Introduction" class="p-16 pt-8 bg-[url('/assets/svg/Quilbg.svg')] bg-no-repeat bg-right bg-contain font-body">
    <p>Chip Hunt has more than 40 years of experience helping people organize, plan, and submit. He holds a M.S. in Accounting from Indiana University-Purdue University Indianapolis. When he’s not crunching numbers, he’s a professional drone pilot and trained blacksmith.</p>
  </div>
</div>