<section title="Client Portal" class="my-12">
  <div class="">
    <h2 class="text-2xl font-bold text-[#0a3161]">Secure Client Portal</h2>
    <p>No need to wait to your documents or worry about privacy. We provide self-service and total access through or secure client portal.</p>
  </div>
  <div>
    <div></div>
  </div>
  </section>