---
import CTAMain from "./CTAMain.astro";
import ServiceMethods from "./ServiceMethods.astro";
---
<section class="my-12">
  <div class="">
    <h2 class="text-2xl font-bold text-[#0a3161]">Services</h2>
    <p>Placeholder content here...</p>
  </div>
  <div class="">
      <ul>
        <li>
          Accounting
Full-service business accounting tailored to your needs
        </li>
        <li>
          Tax Preparation
          Accurate, reliable records so you can focus on growth</li>
        <li>
          Payroll
          Can help with all your payroll needs. Processing Paychecks, Direct Deposit, Quarterly Report Fillings, Annual Report Fillings.</li>
        <li>
          Bookkeeping
          Bookkeeping
          Maximize your refund and avoid IRS headaches</li>
        <li>
          Retirement Planning
          Prepare smartly to get the most out of your ‘golden oldies’ with Social Security Consulting and how to claim your Unified Tax Credit for the Elderly.</li>
      </ul>
    </div>
    <ServiceMethods />
    <div class="text-center">
<CTAMain buttonLink="tel:8124482171" buttonText="Call Now">
    </div>
  </section>