---
---

<section class="my-12" title="Ways To Meet">
    <div>
        <h3>
            <!-- Bgleft bottem-offset handshake -->
            Face-To-Face
        </h3>
        <p>
            Accounting Solutions meets clients where they’re at - literally! If you need an accountant that comes to you, we can help.
        </p>
    </div>

    <div>
        <h3>
            <!-- Bgleft bottem-offset phone -->
            Virtual
        </h3>
            <p>
                Is your schedule too full to fit in an in-person meeting? Ask about meeting over phone call or video-call.
            </p>
    </div>
  </section>